.h100{
    height: 100% !important;
}

.df{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Add this CSS in your stylesheet or style tag */

.search-input {
  width: 500px;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

