.h100{
    height: 100% !important;
}

.df{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sp{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Add this CSS in your stylesheet or style tag */

.search-input {
  width: 500px;
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

/* Add these styles to your CSS file */

.tag{
  /* height: 100%; */
  padding: 10px;
  border-radius: 0.25rem;
}
.status-available {
  background-color: green;
  color: white; /* You can adjust the text color based on your design */
}

.status-unavailable {
  background-color: red;
  color: white; /* You can adjust the text color based on your design */
}


